*{
    margin:0;
    padding: 0;
}
.header{
    overflow: hidden;
}
.logo{
    background-color: antiquewhite;
    color:peru;
    height: 100px;
    width: 20%;
    float: left;
    text-align: center;
}
.menuBar{
    background-color: rgb(235, 144, 25);
    color:rgb(255, 253, 250);
    height: 100px;
    width: 80%;
    float: right;
    text-align: center;
}
.bar{
    background-color: rgb(170, 146, 114);
    color:rgb(0, 0, 0);
    height: 100px;
    text-align: center;
}
.content{
    overflow: hidden;
}
.left{
    background-color: rgb(231, 50, 37);
    color:rgb(255, 255, 255);
    height: 500px;
    width: 20%;
    float: left;
    text-align: center;
}
.center{
    background-color: rgb(134, 79, 75);
    color:rgb(0, 0, 0);
    height: 500px;
    width: 60%;
    float: left;
    text-align: center;
}
.right{
    background-color: rgb(27, 120, 207);
    color:rgb(241, 154, 154);
    height: 500px;
    width: 20%;
    float: right;
    text-align: center;
}
.top{
    background-color: rgb(77, 123, 165);
    color:rgb(241, 154, 154);
    height: 100px;
    text-align: center;
}
.middle{
    height: 300px;
    text-align: center;
    overflow: hidden;
}
.bottom{
    background-color: rgb(219, 47, 235);
    color:rgb(241, 154, 154);
    height: 100px;
    text-align: center;
}
.middle-left{
    background-color: rgb(235, 255, 59);
    color:rgb(241, 154, 154);
    width: 50%;
    text-align: center;
    height: 100%;
}
.middle-right{
    background-color: rgb(255, 81, 0);
    color:rgb(241, 154, 154);
    width: 50%;
    text-align: center;
    height: 100%;
}
.footer{
    background-color: purple;
    color: white;
    height: 100px;
}
